/**
 *
 * Css Flex Box
 *
 */

.layout-row{
  display: flex;
  flex-direction: row;
}

.layout-column{
  display: flex;
  flex-direction: column;
}

.layout-align-start-start{
  justify-content: flex-start;
  align-items:flex-start;
}

.layout-align-center-start{
  justify-content: center;
  align-items:flex-start;
}

.layout-align-end-start{
  justify-content: flex-end;
  align-items:flex-start;
}

.layout-align-start-center{
  justify-content: flex-start;
  align-items:center;
}

.layout-align-center-center{
  justify-content: center;
  align-items:center;
}

.layout-align-end-center{
  justify-content: flex-end;
  align-items:center;
}

.layout-align-start-end{
  justify-content: flex-start;
  align-items:flex-end;
}

.layout-align-center-end{
  justify-content: center;
  align-items:flex-end;
}

.layout-align-end-end{
  justify-content: flex-end;
  align-items:flex-end;
}

.flex{
  margin: auto;
}

.flex{
  flex: 1;
}

.flex-10{
  flex: 1 1 10%;
  max-width: 10%;
}

.flex-20{
  flex: 1 1 20%;
  max-width: 20%;
}

.flex-30{
  flex: 1 1 30%;
  max-width: 30%;
}

.flex-40{
  flex: 1 1 40%;
  max-width: 40%;
}

.flex-50{
  flex: 1 1 50%;
  max-width: 50%;
}

.flex-60{
  flex: 1 1 60%;
  max-width: 60%;
}

.flex-70{
  flex: 1 1 70%;
  max-width: 70%;
}

.flex-80{
  flex: 1 1 80%;
  max-width: 80%;
}

.flex-90{
  flex: 1 1 90%;
  max-width: 90%;
}
